@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

html {
    font-family: Raleway;
    background-color: rgb(241, 239, 235);
}

/* Sets the page so that the display screen will not hide behind the footer*/
body {
    padding-bottom: 105px;
}

img {
    width: auto;
    height: 450px;
}

/* NAVBAR */
.navbar li {
    display: inline;
    padding: 8px;
}

.navbar a {
    font-size: 30px;
    font-weight: 700;
    text-shadow: 1px .5px 4px rgba(78, 66, 66, 0.5);
    color: white;
    text-decoration: none;
    /* Removes the default link styling */
}

.navbar a:hover {
    color: red;
    /* Changes the color of the anchor element when a user hovers their mouse over it */
}

.navbar {
    background-color: blue;
    padding-top: 10px;
    padding-bottom: 10px;
    /* The following minus margins stretch the navbar background beyond the web browser screen edge */
    margin-top: -8px;
    margin-left: -10px;
    margin-right: -10px;
    position: sticky;
    /* Creates a sticky element that stays in the same spot in the browser screen */
    top: 0;
    /* Tells the browser to stick the element at the top of the page based on user scrolling */
    z-index: 9;
    /* Sets the stack layer of the navbar to scroll over all elements */
}

.navimg {
    width: auto;
    height: 45px;
    filter: drop-shadow(0px 0px 0px black);
    border-radius: 5px;
}

/* This will center the image */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* This put a container on the patriotic picture to display text over top */
.container {
    position: relative;
    text-align: center;
    color: blue;
}

/* This positions the text that is on the picture*/
.centered {
    position: absolute;
    top: 10%;
    left: 44%;
    font-size: 20px;
    color: white;
    transform: translate(-50%, -50%);
}

/* Sets the size and shadow for the image */
.patriotic {
    width: auto;
    height: 300px;
    filter: drop-shadow(15px 15px 10px black);
    border-radius: 10px;
}

/* Sets the parameters for the table */
table {
    width: 75%;
    border: 1px solid red;
    margin-left: auto;
    margin-right: auto;
}

th {
    background-color: blue;
    color: white;
}

td {
    width: 50%;
    text-align: justify;
    padding: 10px;
}

.row {
    display: flex;
    justify-content: flex-start;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 0;
    flex-direction: row;
}

/* Sets the parameters for the two columns */
.column {
    box-sizing: border-box;
    border: 1px solid blue;
    float: left;
    background-color: red;
    color: white;
    height: auto;
    width: 50%;
    padding: 10px 25px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
    align-items: center;
}

p {
    text-align: center;
}

p:hover {
    color: blue;
    cursor: default;
}

/* Sets the parameters for the footer. It should stay at the bottom of the page at all times. */
footer {
    background-color: blue;
    color: white;
    /* The following minus margins stretch the navbar background beyond the web browser screen edge */
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: -8px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    font-weight: 600;
    position: fixed;
    bottom: 0;
    z-index: 9;
    /* Sets the stack layer of the navbar to scroll over all elements */
}

footer p:hover {
    color: white;
}

/* Image Overlay */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
    width: 642px;
    opacity: 0;
    transition: .5s ease;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 40px;
    font-weight: 800;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.video {
    color: blue;
    font-size: 35px;
    font-weight: 700;
    position: absolute;
    top: 70%;
    left: 150px;
    /*-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
}